*{
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face {
font-family: DINPro;
src: url(../Fonts/DINPro-Medium_13936.ttf); 
}

@font-face {
font-family: DINProReg;
src: url(../Fonts/DINPro-Regular_13937.ttf); 
}

a{
  text-decoration-line: none;
}

body{
    font-family: DINPro;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    background-color: #f5f5f5;
}
#container {
    width: 400px;
    margin: 0px auto;
}

#logo{
    width: 125px;
    padding-bottom: 153px;
    margin: 32px auto 0 auto; 

 }

 .Log-in {
    font-family: DINPro;
    font-size: 72px;
    font-weight: 500;
    line-height: 1.33;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    padding-bottom: 24px;
  }

  [type="submit"] {
    width: 400px;
    height: 40px;
    border-radius: 4px;
    background-color: #b52f54;
    color:#ffffff;
    font-family: DINPro;
    font-size: 14px;
    font-weight: 500;
  }
  input[type="text"],input[type="password"] {
    width: 400px;
    height: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #ececec;
    padding:12px 16px;
    box-sizing: border-box;
  }

  .Email {
    text-align: left;
    color: #000000;
    padding-bottom: 8px;
  }

  .Password {
    text-align: left;
    color: #000000;
    padding-bottom: 8px;
    padding-top: 16px;
  }

  .Dont-have-an-accoun {
    font-family: DINProReg;
    text-align: center;
    color: #000000;
    padding-top: 24px;
  }

  .Forgot-pas {
    font-family: DINProReg;
    text-align: right;
    padding-bottom: 24px;
    padding-top: 8px;
  }

 .pink{
   color: #b52f54;
 }

 .Sign-up {
  width: 240px;
  height: 96px;
  font-family: DINPro;
  font-size: 72px;
  font-weight: 500;
  line-height: 1.33;
  margin:0 auto;
  color: rgba(0, 0, 0, 0.5);
  padding-bottom: 21px;
}

#logo2{
    width: 125px;
    padding-bottom: 85px;
    margin: 32px auto 0 auto; 
}
.p-pad {
  padding-bottom: 8px;
}

.ipField {
  padding-bottom: 16px;
}

[value="Create account"] {
  margin-top:8px;
}

[value="Show"] {
  font-family: DINPro;
  width: 35px;
  height: 16px;
  border: none;
  position: absolute;
  bottom: 28px;
  right: 16px;
  z-index: 4;
  background-color: white;

}

#pos {
  display: block;
  position: relative;
}